.themes-index
  .page-header.clearfix
    %h1.pull-left= t('.title')
    = link_to t('.add_theme'), new_theme_path, class: 'btn btn-primary pull-right'

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th= t('.name')
        %th= t('.images_count')
        %th= t('.actions')
    %tbody
      - @themes.each do |theme|
        %tr
          %td= theme.name
          %td= theme.images.size
          %td.actions-cell
            = link_to t('.edit'), edit_theme_path(theme), class: 'btn btn-sm btn-default'
            = link_to t('.destroy'), theme_path(theme), method: :delete, data: { confirm: t('.confirm_destroy') }, class: 'btn btn-sm btn-danger'

  - if @themes.empty?
    %p.alert.alert-info= t('.empty')
