= form_for @value do |f|
  - if @value.errors.any?
    .alert.alert-danger
      %h4= t('values.form.errors_title', count: @value.errors.count)
      %ul
        - @value.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = f.label :image_id, t('.image')
    = f.collection_select :image_id, @unrated_images, :id, :name, { selected: @value.image_id, prompt: t('.select_image') }, class: 'form-control', required: true
  .field.form-group
    = f.label :value, t('.rating')
    = f.select :value, (1..5).to_a, { prompt: t('.select_rating') }, class: 'form-control', required: true
  .actions
    = f.submit t('.save'), class: 'btn btn-primary'
