%header.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to t('.logo_title'), root_path, class: "navbar-brand"
    %ul.nav.navbar-nav
      %li= link_to t('.home'), root_path
      %li= link_to t('.help'), main_help_path
      %li= link_to t('.contacts'), main_contacts_path
      %li= link_to t('.about'), main_about_path
      %li= link_to t('.images'), images_path
      %li= link_to t('.themes'), themes_path
      %li= link_to t('.values'), values_path
    %ul.nav.navbar-nav.pull-right
      - if signed_in?
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = current_user.name
            %span.caret
          %ul.dropdown-menu
            %li= link_to t('.my_page'), profile_path
            %li.divider{role: "separator"}
            %li= link_to t('.sign_out'), signout_path, method: :delete
      - else
        %li= link_to t('.sign_in'), signin_path
        %li= link_to t('.sign_up'), signup_path
      %li.locale
        .btn-group
          = link_to url_for(locale: :ru), class: "btn btn-default btn-xs" do
            = image_tag('Russia.jpg', size: '20x13', title: 'Русский')
          = link_to url_for(locale: :en), class: "btn btn-default btn-xs" do
            = image_tag('English.jpg', size: '20x13', title: 'English')
