#work-area.work-page.work-idle{data: { placeholder_url: asset_path("pictures/#{WorkImage::PLACEHOLDER_FILE}"), welcome_image: asset_path('Musa_Winx.ico'), select_theme_first: t('.select_theme_first'), navigation_error: t('.navigation_error'), rating_error: t('.rating_error'), submit_rating: t('.submit_rating'), change_rating: t('.change_rating'), select_rating_hint: t('.select_rating_hint') }}
  .row.work-layout
    .col-md-3.col-sm-12.work-sidebar
      .left_controls.panel-card
        .select_theme-wrapper
          .select_theme
            = render 'work/button_theme_select', locale: @current_locale
        .work-stats
          .stat-item.total_values
            = t('.total_estimates')
            %span.total_values_count= @values_qty
          .stat-item.theme_values
            = t('.theme_ratings_count')
            %span.theme_values_count= @theme_values_count
    .col-md-9.col-sm-12.work-content
      .image_display.panel-card
        .row.image-header
          .col-md-12
            %h2.up-theme= @selected_theme
          .col-md-12
            %h2.welcome-title= t('.welcome_title')
            %h2.up.image-title{style: 'display: none;'}
        .row.image-viewer
          .col-md-1.img-left-side
            %a.nav-arrow{href: '#', title: t('.prev_image')}
              %i.fa.fa-chevron-circle-left
          .col-md-10.img-center
            %img.work-image{alt: t('.welcome_title'), src: asset_path('Musa_Winx.ico'), title: t('.welcome_title'), onerror: "this.src='#{asset_path("pictures/#{WorkImage::PLACEHOLDER_FILE}")}'"}
          .col-md-1.img-right-side
            %a.nav-arrow{href: '#', title: t('.next_image')}
              %i.fa.fa-chevron-circle-right
        .image_rating
          .row
            .col-md-12.rating-stats
              %span.average_rating
                %strong= t('.average_rating')
                %span.common_ave_value —
              %span.image_values_count_wrap
                %strong= t('.ratings_count')
                %span.image_values_count 0
          .row
            .col-md-12
              %p.rating-label= t('.your_rating')
              .rating-stars{role: 'radiogroup', 'aria-label': t('.your_rating')}
                - (1..5).each do |star|
                  %button.star-btn{type: 'button', 'data-value': star, title: star}
                    %i.fa.fa-star-o
          .row
            .col-md-12.rating-actions
              %button#submit-rating.btn.btn-primary{type: 'button', disabled: true}= t('.select_rating_hint')
          .row
            .col-md-12
              .rating_message.alert{style: 'display:none;'}
